*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

ol, ul{
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	/*     font-family: 'Cookie', cursive;
	       font-family: 'Open Sans', sans-serif;    
           font-family: 'ZCOOL XiaoWei', serif;         */
}


/*navbar part css start*/
.navbar{
    position: fixed;
    z-index: 1;
    margin-top : -13px

}

.navbar-brand img{
    width: 140px;
    margin-right: 70px;
    background-color: white;
    padding: 15px;
}

.navbar-nav{
    margin-top: 40px;
}

.navbar-nav .nav-item{
    margin-top: 20px;
}
.navbar-nav .nav-item .nav-link{
    margin: 0 15px;

}

.navbar-nav .nav-item .nav-link{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
}


.navbar-nav .nav-item:nth-child(6){
    position: relative;
}

.navbar-nav .nav-item:nth-child(6):after {
    content: "";
    width: 1px;
    height: 44px;
    background: #BC906B;
    position: absolute;
    top: -2px;
    right: -4px;
}


.nav_contact_info {
    margin-left: 20px;
    position: relative;
    top: -13px;
    left: -9px;
}

.nav_contact_info span {
    position: relative;
    top: -7px;
    left: 18px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.navbar-nav .nav-item:nth-child(8){
    margin-left: 60px;
}

.navbar-nav .nav-item:nth-child(8) a {
    padding: 12px 35px;
    background-color: #BC906B;
    position: relative;
    top: -10px;
    left: -27px;
    color: white;
    transition: all linear .3s;
    box-shadow: 5px 5px 1px #392B20;
}

.navbar-nav .nav-item:nth-child(8) a:hover{
    box-shadow: none;
    transition: all linear .3s;
}

/*navbar part css end*/


/*banner section css start*/
#banner{

}
.banner_overlay{
    padding: 100px 0;
    width: 100%;
    background-color: yellow;
}

.carousel-caption{
    bottom: 11.25rem;


}

.carousel-caption h4{
    font-size: 50px;
     font-family: 'ZCOOL XiaoWei', serif;
     color: #BC906B;
}

.carousel-caption h2{
    font-size: 150px;
     font-family: 'ZCOOL XiaoWei', serif;
     color: #BC906B;
     line-height: 112px;
     margin-bottom: 40px;
}

.carousel-caption p{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
     color: white;
     line-height: 26px;
     letter-spacing: 5px;
     position: relative;
     margin-bottom: 40px;
}

.carousel-caption p:after{
    content: "";
    width: 60px;
    height: 1px;
    background-color: white;
    position: absolute;
    left: 160px;
    top: 14px;
}

.carousel-caption p:before{
    content: "";
    width: 60px;
    height: 1px;
    background-color: white;
    position: absolute;
    right: 160px;
    top: 14px;
}

.carousel-caption a{
    padding: 12px 24px;
    background-color: #BC906B;
    color: white;
    transition: all linear .3s;
    box-shadow: 5px 5px 1px #392B20;
}
.carousel-caption a:hover{
    background-color: #222222;
    box-shadow: none;
}


/*banner section css end*/



/*service details css part start*/
#service_details{
    position: relative;
    top: -100px;
    margin-bottom: -100px;
}


.service_details_content{
    text-align: center;
    background-color: white;
    padding: 50px 40px;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
}

.service_details_content i{
    font-size: 70px;
    color: #BC906B;
}

.service_details_content h4{
    margin-top: 30px;
    font-size: 26px;
    font-family: 'ZCOOL XiaoWei', serif;
    margin-bottom: 10px;
}

.service_details_content h4 .colored_text{
    color: #BC906B;
}

/*service details css part end*/


/*story part css start*/
#story{
    padding-right: 80px;
}
.common_heading{
    text-align: center;
}
.common_heading h4{
    font-family: 'Cookie', cursive;
    font-size: 54px;

}

.common_heading .colored_text{
    color: #BC906B;
}


/*story part css end*/